# misc
.DS_Store
.pem

# env files (can opt-in for committing if needed)
.env

# CSharp API

**/.suo
**/.user
**/.vs/
**/[Bb]in
**/[Oo]bj
**/_UpgradeReport_Files
**/[Pp]ackages

Thumbs.db
Desktop.ini

# Jetbrains

**/.idea
